.game-card{
    display: flex;
    flex-direction: row-reverse;
    margin: 8rem 12rem;
}

.game-card img{
    border-radius: 5px;
    max-width: 500px;
}

.game-card-info h2{
    display: flex;
    justify-content: right;
    font-size: 3rem;
    margin: .5rem 1rem;
    color: #eeeeee;
}

.game-card-info p{
    display: flex;
    justify-content: right;
    margin: .5rem 1rem;
    font-size: 1.5rem;
    color: yellow;
}

.about-game{
    margin: .5rem 0;
    margin-right: 5rem;
}

.about-game h3{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.game-card .game-card-info .about-game .descricaoSemiOpen h4 {
    display:flex;
    max-width: 100%;
    font-size: 1.1rem;
    text-align:justify;
    font-weight: 200;
    height: 150px;
    overflow: hidden;
    transition: 1s;
}

.game-card .game-card-info .about-game .descricaoSemiOpen::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(transparent, red);
}

.descricaoOpen h4{
    display:flex;
    max-width: 100%;
    height: 100%;
    font-size: 1.1rem;
    text-align:justify;
    font-weight: 200;
}
